.container {
    position: relative;
    display: inline-block;
}

.nome {
    position: absolute;
    bottom: 10px;  
    left: 10px;    
    /* background: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 3px; */
}