*{
    margin: 0;
    font-family: sans-serif;
}
.getpo{
    background-color: #F4F4F5;
    height: 50px;
    display: flex;
    align-items: center;
}
.buton{
    width: 200px;
    height: 30px;
}
.caixao{
    margin-top: -5px;
    display: flex;
    margin-left: 40px;
    /* margin-right: 20px; */
    justify-content: space-between;
    margin-right:40px;
}
:root {
    --largura: 0px;
    --altura: 0px;
}
.img-rec{
    width: var(--largura);
    height: 400px; 
}
.img-reca{
    position: relative;
    display: inline-block;
}
.text-img{
    position: absolute;
    bottom: 30px;  
    left: 30px;  
}
.h1-cima{
    font-size: 35px;
}
.h1-baixo{
    width: 570px;
    font-size: 15px;
}
.seta-img{
    display: flex;
    align-items: center;
    text-decoration: none;
    /* position: relative;
    left: 10px;
    right: 0px; */
    /* margin-left: 20px; */
}
.seta-h1{
    margin-left:15px;
    font-size: 18px;
    font-weight: 100;
}
.imgu-img{
    position: relative;
    left: 10px;
    right: 0px;
    height: 30px;
}
.tempo-rec1{
    display: flex;
    margin-left: -5px;
}
.tempo-rec{
    display: flex;
    margin-left: 20px;
}
.tempo-img{
    width: 30px;
    height: 30px;
}
.tempot-img{
    width: 30px;
    height: 25px;
}
.tempo-h1{
    font-size: 14px;
    font-weight: 100;
    margin-left: 10px;
}
.tempo-h2{
    font-size: 16px;
    font-weight: 200;
    margin-left: 10px;
}
.tempordi{
    margin-left: 15px;
    padding-bottom: 10px;
    display: flex;
    /* border-bottom: 1.5px #F34DA9 solid; */
    /* width: 1000px;  */
    /* margin-left: 13.5px; */
    /* justify-content: space-around; */
}
.caixatpd{
    background-color: aqua;
    /* width: var(--argura);  */
}
.div-h1{
    font-size: 10px;
    display: flex;
}
html {
    scrollbar-width: none;
}
.sjdf{
    display: flex;
    flex-direction: column;
    /* margin-left: 20px; */
}
.snsng{
    background-color: #F4F4F5;
    border: 5px solid #F4F4F5;
    /* border-radius: 5px; */
    width: 95%;
    height: 95%;
    border-top: 1.5px solid #F34DA9;
    padding-top: 20px;
}
.info{
    background-color: #ffff;
    width: 400px;
    /* height: 210px; */
}
.nutr{
    font-size: 10px;
}
.div-h1{
    display: flex;
    justify-content: space-between;
}
.geji{
    display: flex;
    justify-content: center;
    height: 370px;
}
.buton{
    
}