*{
    margin: 0;
    font-family: sans-serif;
    background-color: #FFF3C2;
}
a {
    text-decoration: none;
}
:root{
    --tamanho:400px;
}
.header-estilo{
    background-color: #E07609;
    text-align: center;
    border: 10px solid #E07609;
    color: #FFFFFF;
}
.header_sabor{
    background-color: #E07609;
    margin-top: 5px;
    font-size: 40px;
}
.header_descu{
    background-color: #E07609;
    font-size: 20px;
}
.main_recei{
    color:#92400e ;
    text-align: center;
}
.main-produtos {
    /* flex: 1; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly;  */
    justify-content: center;
    gap: 20px;
}
.adiciona-div1{
    /* margin: 90px;
    margin-top: 55px; */
}
.adiciona{
    width: var(--tamanho);
    border-radius: 15px;
    /* height: 280px; */
    /* width: 220px; */
    background-color: #ffffff;
    /* margin-top: 5px; */
    /* font-size: 10px; */
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
    /* font-family: "Julius Sans One", serif; */
    font-weight: 600;
    font-style: normal;
    justify-content: center;
    font-style: normal;
    justify-content: center;
    align-content: center;
}
.pao{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* margin-top: 15px; */
    height: 160px;
    width: var(--tamanho);
}
.ponto-adic{
    font-size: 8px;
    margin-top: 20px;
}
.img-icon{
    width: 20px;
    background-color: #FFFFFF;
}
.img-icone{
    height: 15px;
    width: 15px;
    background-color: #FFFFFF;
}
.h1-icon{
    margin-left: 3px;
    font-size: 12px;
    color: #7A7A7A;
    background-color: #FFFFFF;
}
.grupo-icon{
    margin-top: 15px;
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;    
    width: 92%;
    margin-bottom: 15px;
} 
.grupo-icon1{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
} 
.texto-pro{
    /* text-align: center; */
    /* margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; */
    background-color: #ffffff;
    margin-left: 15px;
    margin-right: 15px;
}
.texto-pro1{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-evenly; */
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
}
.cima{
    margin-top: 10px;
    font-size: 20px;
    color: #9C4512;
    background-color: #ffffff;
}
.baixo{
    margin-top: 13px;
    font-size: 15px;
    color: #7A7A7A;
    background-color: #ffffff;
}
.h1-destaque{
    text-align: center;
    margin: 30px;
    color: #9C4512;
}
.h1-sabo{
    color: #FFFFFF;
    font-size: 20px;
    background-color: #92400E;
}
.h1-rece{
    color: #F5D87A;
    margin-top: 5px;
    font-size: 15px;
    background-color: #92400E;
}
.footer{
    /* margin-left: 15px; */
    background-color: #92400E;
}
footer{
    margin-top: 40px;
    background-color: #92400E;
    border: 30px solid #92400E;
    border-left-width: 40px;
}
a{
    display: inline-block; /* Permite transformações */
    text-decoration: none;
    color: blue;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.3s ease; /* Suaviza o movimento */
}
a:hover{
    transform: translateY(10px); /* Move 10px para baixo */
    color: red; /* Muda a cor ao passar o mouse */
}
h1{
    color: #7A7A7A;
    background-color: #F5D87A;
}

/* main{
    background-color: #FFF3C2;
} */